[submodule "3rdparty/Vulkan-Headers"]
	path = 3rdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/Vulkan-Loader"]
	path = 3rdparty/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
